################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Sample/v17/.suo
/bin/Debug/Sample.exe
/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/Sample.csproj.AssemblyReference.cache
/obj/Debug/Sample.csproj.GenerateResource.cache
/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/.vs/Sample/FileContentIndex/6934ec12-6db5-4afa-b06f-6d22263a4f36.vsidx
/.vs/Sample/FileContentIndex/7fbcff68-7a8b-4c21-901f-ac6ecd34e842.vsidx
/.vs/Sample/FileContentIndex/2540ece3-f8e3-46bf-a16c-7da9a56b0e88.vsidx
/.vs/Sample/FileContentIndex/c169e2cf-7fcc-4873-98a0-1d973348c9ce.vsidx
/.vs/Sample/v17/.suo
/obj/Debug/DesignTimeResolveAssemblyReferences.cache
