################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Sample/v17/.suo
/.vs/Sample/v17/.suo
/bin/Debug/Sample.exe
/.vs/Sample/FileContentIndex/read.lock
/.vs/Sample/FileContentIndex/5520f280-6b43-4c35-ad0c-088363355bca.vsidx
/.vs/Sample/FileContentIndex/81b2bbaf-3f9d-4b60-bc4e-32d802a40231.vsidx
/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/obj/Debug/Sample.csproj.GenerateResource.cache
/obj/Debug/Sample.csproj.SuggestedBindingRedirects.cache
/.vs/Sample/FileContentIndex/2540ece3-f8e3-46bf-a16c-7da9a56b0e88.vsidx
/.vs/Sample/FileContentIndex/679719b4-347d-4a9c-ae1f-bf3ce5b7f7cf.vsidx
/.vs/Sample/FileContentIndex/7fbcff68-7a8b-4c21-901f-ac6ecd34e842.vsidx
/obj/Debug/Sample.exe
/obj/Debug/Sample.pdb
/obj/Debug/Sample.csproj.CoreCompileInputs.cache
/bin/Debug/Sample.pdb
/.vs/Sample/FileContentIndex/2625a237-68e6-4050-8c2e-79c6b4617d84.vsidx
/.vs/Sample/FileContentIndex/a9b087ff-859d-451a-8089-a4c124f4addd.vsidx
/.vs/Sample/FileContentIndex/c665c907-6d9e-4c3f-b3eb-45092e2e3527.vsidx
/.vs/Sample/FileContentIndex/e3fbeb61-485f-40b8-93b2-a4d9c898e2dc.vsidx
